<div class="col-sm-4">
	<form class="form-horizontal">
		<div class="form-group">
			<label style = "color:black"><h5><strong>PROJECT</strong></h5></label>
			<select class="form-control" ng-change="getTopics(formGet.proj._id)" ng-model="formGet.proj" ng-options="proj as proj.name for proj in formGet.projs">
				<option value="" selected disabled>Select your project</option>
			</select>
		</div>
	  
		<div class="form-group">
			<label style = "color:black"><h5><strong>TOPIC</strong></h5></label>
			<select class="form-control" ng-change="getTasks(formGet.proj._id, formGet.topic._id)" ng-model="formGet.topic" ng-options="topic as topic.name for topic in formGet.proj.topics">
				<option value="" selected disabled>Select your topic</option>
			</select>
		</div>
	  
		<div class="form-group">
			<label style = "color:black"><h5><strong>TASK</strong></h5></label>
			<select class="form-control" ng-change="clearTextArea()" ng-model="formGet.task" ng-options="task as task.name for task in formGet.topic.tasks">
				<option value="" selected disabled>Select your task</option>
			</select>
		</div>
		
		<div ng-if="formGet.task!=null">
			<div class="form-group" ng-repeat="extra in formGet.task.extras">
				<label ng-if="extra.text=='date'">Date</label>
				<input ng-if="extra.text=='date'" uib-datepicker-popup="dd.MM.yyyy" class="form-control" name="date" type="text"/>
				<span ng-if="extra.text=='date'" class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
				<label ng-if="extra.text!='date'">{{extra.des}}</label>
				<input ng-if="extra.text!='date'" name="{{ extra.text }}" type="text" class="form-control"/>
			</div>
		</div>
		
		<button type="submit" class="button buttonGet" ng-click="getTemplate()"><strong>GET</strong></button>
	</form>
</div>

<div class="col-sm-8">						  
	<div class="form-group border-primary textarea-container">						  
		<label for="textareaShow" style="color:black"><h5><strong>TEMPLATE</strong></h5></label>						  
		<textarea class="form-control" ng-model="template" id="textareaShow" rows="20" style="border-radius:12px"></textarea>
		<button type="button" class="button buttonCopy" ng-click="copyToClipboard('textareaShow')">
		  <span class="fa fa-copy"></span><h7><strong> Copy </strong></h7> 
		</button>
	</div>
</div>