<div class="input-group dropdown">
    <input name={{name}} 
           type="text" 
           class="form-control dropdown-toggle editable-select"           
           ng-model="ngModel.name"
		   autocomplete="off"
		   placeholder = {{holder}} >
    <ul class="dropdown-menu dropdown-menu-right" >
      <li class="dropdown-item" ng-repeat="option in options" ng-bind="option.name" ng-click="click(option)"></li>
      <hr/>
      <li class="dropdown-item" ng-if="other" ng-bind="other" ng-click="click(other)" style="font-weight:bold"></li>
    </ul>
    <span class="input-group-addon dropdown-toggle" data-toggle="dropdown">
	<span class="caret"></span>
    </span>
</div>